*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left_container::-webkit-scrollbar-track{
  background-color: transparent;
}
.Home{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  width: 100%;
  height: 100%h;

}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  object-fit: contain;
  overflow: hidden;
}
.Main_container{
  position: absolute;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;

 
}
.main{
  width: 35%;
  height: 100vh;
  padding: 1rem;
  margin: 1rem;
}
.main h1{
  color: #fff;
  font-size: 60px;
}
.main article{
  text-align: left;
  font-size: 15px;
  color: rgb(231, 231, 231);
}
.left_container{
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  top:0;
  overflow-y: scroll;
  /* for Firefox */
  scrollbar-color: rgba(2, 39, 11, 0.479) #ffffff00;
  scrollbar-width:thin;
}

video{
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.left_container::-webkit-scrollbar-track {
  
  background-color: transparent;
}

.left_container::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.left_container::-webkit-scrollbar-thumb {
  background-color: rgba(39, 54, 43, 0.445);
  border-radius: 20px;
}
